.tab-dark {
  .state-canceled {
    background: var(--app-error);
  }

  .state-option {
    background: var(--app-warning);
  }

  .state-confirmed {
    background: var(--app-success);
  }

  .state-inactive {
    background: var(--app-primary);
  }

  .state-active {
    background: var(--app-secondary);
  }
}

.secondary .tab-dark .state-option {
  background : var(--app-secondary);
}
